__pycache__/settings_anki_tab.cpython-310.pyc
__pycache__/settings_gui.cpython-310.pyc
__pycache__/theme.cpython-310.pyc
lang/__pycache__/english.cpython-310.pyc
lang/__pycache__/japanese.cpython-310.pyc
lang/__pycache__/string_ids.cpython-310.pyc
